.login { 
    
    width: 100%;
    text-align: center;
    color: var(--color-green);
    font-size:xx-large;
    font-weight: 2000;
  }

  .login__input input {
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-green);
    flex-grow: 1;
    
  }

  

 
 

   .login select{
   
   
    color: var(--color-green);
    
 
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-green);
    flex-grow: 1;
 
  }
