.login { 
    
    width: 100%;
    text-align: center;
    color: var(--color-green);
    font-size:xx-large;
    font-weight: 2000;
  }

  .login__input input {
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-green);
    flex-grow: 1;
    
  }

  .LoggedInButton{
    padding: 7px 12px;
    cursor: pointer;
    font-size: 20px;
    background-color:  darkgoldenrod;
    color:  white;
    border:10cm;
    border-radius: 8px;
    margin-left: 15px;
  
  }

  .form__avatar-input {
    width: 99%;
    height: 60%;
    border-radius: 15px;
    background-color: #dfdbdb;
  }

 

  select{
   
   
    color: var(--color-green);
    
 
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-green);
    flex-grow: 1;
 
  }
