.Messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style:none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
    
  }
  
  
  
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  
  
  .Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
  } 
  
  
  .Message-content {
    display: inline-block;
  }
  
  
  
  .currentMember > .Message-content {
    align-items: flex-end;
  }
  
  
  
  .Messages-message > .avatar {
    height: 35px;
    width: 35px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
    box-shadow: 5px 5px 2px rgb(0 100 91 / 50%);
  }
  
  
  
  .Message-content > .username {
    display: block;
    
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 4px;
  }
  
  
  
  
  .Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border: solid;
    border-color:  var(--color-green);
    border-width: 3px;
    border-radius: 12px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    display: inline-block;
    box-shadow: 5px 5px 2px rgb(0 100 91 / 50%);
  }
  
  
  
  .currentMember > .Message-content .text {
    background-color:  whitesmoke;
  } 