.button {
   padding: 12px;
    
    font-size: 20px;
    background-color: var(--color-green);
  
    color:  white;
   
    border-radius: 8px;
    margin-left: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }

  button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;

  -webkit-transform: rotateZ(-360deg);
  -ms-transform: rotateZ(-360deg);
  transform: rotateZ(-360deg);
  
transition: -webkit-transfom, -ms-transform, transform 0.7s;
}