.Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border: solid;
    border-color:  var(--color-green);
    border-width: 3px;
    border-radius: 12px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    display: inline-block;
    box-shadow: 5px 5px 2px rgb(0 100 91 / 50%);
  }
  
  
  
  .currentMember > .Message-content .text {
    background-color:  whitesmoke;
  } 
  